/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e container */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema escuro */
body[data-theme="dark"] {
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container-text{
    margin-top: 15px;
}

/* Header */
header {
    background: #007396; /* Azul Java */
    color: #fff;
    padding: 1rem;
    position: relative;
}

header[data-theme="dark"] {
    background: #1f1f1f; /* Escuro profissional */
}

header .logo {
    height: 50px;
    float: left;
    margin-right: 20px;
}

header h1 {
    float: left;
    margin: 0;
    font-size: 1.8rem;
}

nav {
    float: right;
    margin-top: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #005b8a;
    color: #fff;
}

/* Interruptor de tema */
.theme-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.theme-switcher input {
    display: none;
}

.theme-switcher label {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #007396; /* Azul Java */
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 30px;
    padding: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.theme-switcher label .moon-icon,
.theme-switcher label .sun-icon {
    font-size: 1.2rem;
    transition: transform 0.3s;
}

.theme-switcher label .moon-icon {
    color: #007396; /* Azul Java */
}

.theme-switcher label .sun-icon {
    color: #ffcc00; /* Amarelo claro */
}

.theme-switcher input:checked + label {
    background-color: #007396; /* Azul Java */
    border-color: #fff;
}

.theme-switcher input:checked + label .moon-icon {
    transform: translateX(30px);
}

.theme-switcher input:not(:checked) + label .sun-icon {
    transform: translateX(-30px);
}

/* Seções */
section {
    padding: 2rem 0;
}

section#intro {
    background: #f4f4f4;
    text-align: center;
}

section#intro[data-theme="dark"] {
    background: #1f1f1f;
}

section#intro .java-icon {
    width: 200px;
    margin: 20px 0;
}

section#about, section#contact {
    background: #fff;
}

section#events{
    background: #007396; /* Azul Java */
    color: #fff;
    padding: 2rem 0;

}

section#gallery{
    background: #fff; 
    padding: 2rem 0;
    text-align: center;

}

section#about .section-img,
section#events .section-img,
section#supporters .section-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

section#events ul {
    list-style: none;
}

section#events ul li {
    margin-bottom: 1.5rem;
}

/* Seção de Apoiadores */
section#supporters {
    background: #007396; /* Azul Java */
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

section#supporters[data-theme="dark"] {
    background: #1f1f1f;
}

section#supporters ul {
    list-style: none;
    padding: 0;
}

section#supporters ul li {
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Footer */
footer {
    background: #007396; /* Azul Java */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer[data-theme="dark"] {
    background: #1f1f1f;
}

footer p {
    margin: 0;
}

/* Pop-up de Inscrição */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content label {
    display: block;
    margin: 10px 0 5px;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.popup-content button {
    background-color: #007396; /* Azul Java */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.popup-content button:hover {
    background-color: #005b8a;
    transform: scale(1.05);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

/* Botão Inscreva-se */
#signup-button {
    background-color: #007396; /* Azul Java */
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

#signup-button:hover {
    background-color: #005b8a;
    transform: scale(1.05);
}

.buttons {
    background-color: #007396; /* Azul Java */
    color: #fff;
    border: none;
    padding: 5px 5px;
    border-radius: 300px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.buttons:hover {
    background-color: #005b8a;
    transform: scale(1.05);
}

.buttons-img{
    width: 40px;
    height: 40px;
}
